{{define "content"}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Program_id</th>
            <th>Has_warning</th>
            <th>Has_error</th>
            <th>Has_fatal</th>
            <th>Created_date</th>
            <th>Is_archived</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Program_id}}</td>
            <td>{{.Has_warning}}</td>
            <td>{{.Has_error}}</td>
            <td>{{.Has_fatal}}</td>
            <td>{{.Created_date}}</td>
            <td>{{.Is_archived}}</td>
        </tr>
        {{else}}
        <tr>
            <td>No sessions found.</td>
        </tr>
        {{end}}
</table>
{{end}}