body {
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #9ab7c4, #dff2f6);
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
}

#main-content {
    flex: 1 1 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 6px;
}